/* Modal */
.bodyModal {
  background-color: #784BC3;
  color: white;
}

.footerHeaderModal {
  background-color: #200152;
}

.customModalBtn {
  background-color: #784BC3;
  color: white;
}

.customModalBtn2 {
  background-color: #290465;
  color: white;
}

.customModalBtn2:hover {
  background-color: white;
  color: red;
}

.customModalBtn:hover {
  background-color: white;
  color: green;
}

.iconoModal {
  width: 60px;
}
/* mainpage */
body {
  background-color: black;
  margin: 0;
  padding: 5px;
  margin-top: 180px;
}

.containerMain {
  background-color: #200152;
  margin: 0;
  padding: 10px;
}

.cardProduct {
  background-color: #290465;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(74,25,154,1);
  -moz-box-shadow: 0px 0px 16px 0px rgba(74,25,154,1);
  box-shadow: 0px 0px 16px 0px rgba(74,25,154,1);
  color: white;
  margin: 2px;
}

.btnCustomCard {
  background-color: #fff;
  border: 2px solid;
  width: 100%;
}
.btnCustomCard:hover {
  background-color: #fff;
  border: #290465 solid 1px;
  color: black;
}

.cardProduct > img {
  width: 100%;
  height: 18rem;
}

#cardContainer {
  background-color: black;
  margin: 0;
  border-radius: 10px;
  padding: 10px;
}

#asideContainer {
  background-color: #784BC3;
  margin: 0;
  border-radius: 10px;
  padding: 5px;
}

.btnCustomAside{
  background-color: #fff;
  width: 100%;
  border: 2px white solid;
}
.btnCustomAside:hover {
  color: white;
  border: 2px white solid;
}

#asideContainer > div > img {
  width: 128px;
  height: 128px;
}

.customOffcanvaBtn {
  background-color: #784BC3;
  color: white;
}

.iconOffcanva {
  width: 150px;
  height: 150px;
}

.listDiv {
  background-color: black;
  border-radius: 15px;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
}

.createItemDiv {
  background-color: black;
  border-radius: 15px;
  padding: 10px;
}


.listTitle {
  background-color: #290465;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.carousel-item > img {
  height: 500px;
}

.adContainer > img {
  width: 100%;
  border-radius: 8px;
}

.adContainer{
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.flag {
  width: 40px;
}
.flag:hover {
  cursor: pointer;
}

/* NavBar */

.imgNavbar {
  width: 110px;
  height: 110px;
}
.imgMini > img {
  width: 50px;
  height: 50px;
}

.shadowNav {
  border-bottom: 2px #4a199a solid;
  -webkit-box-shadow: 0px 4px 12px 1px rgba(74,25,154,0.63);
  -moz-box-shadow: 0px 4px 12px 1px rgba(74,25,154,0.63);
  box-shadow: 0px 4px 12px 1px rgba(74,25,154,0.63);
}

.bodyAboutUs {
  background-color: #784BC3;
}

.containerTitle {
  background-color: #fff;
  padding: 5px;
  border-radius: 6px;

}
.containerTitle h1 {
  border-bottom: 2px solid ;
}

.logoTitle {
  width: 120px;
  height: 120px;
}

.containerInfoP {
  border-radius: 8px;
}

.containerDetails {
  background-color: black;
  border-radius: 8px;
}

.imgDetail {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.imgDetail2 {
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.imgFatherDetail {
  border: black solid 2px;
  border-radius: 10px;
  background-color: #784BC3;
}
.imgFatherDetail2 {
  border: black solid 2px;
  border-radius: 10px;
  background-color: #784BC3;
}

.detailData {
  border-radius: 8px;
  background-color: #784BC3;
  color: white;
}
.detailDesc {
  border-radius: 8px;
  background-color: #290465;
  color: white;
}