/* Modal */
.bodyModal {
  background-color: #784BC3;
  color: white;
}

.footerHeaderModal {
  background-color: #200152;
}

.customModalBtn {
  background-color: #784BC3;
  color: white;
}

.customModalBtn2 {
  background-color: #290465;
  color: white;
}

.customModalBtn2:hover {
  background-color: white;
  color: red;
}

.customModalBtn:hover {
  background-color: white;
  color: green;
}

.iconoModal {
  width: 60px;
}
/* mainpage */
body {
  background-color: black;
  margin: 0;
  padding: 5px;
}

.containerMain {
  background-color: #200152;
  margin: 0;
  padding: 10px;
}

.cardProduct {
  width: 14rem;
  background-color: #4a199a;
  color: white;
}

.btnCustomCard {
  background-color: #fff;
  width: 100%;
}

.cardProduct > img {
  width: 100%;
  height: 14rem;
}

#cardContainer {
  background-color: black;
  margin: 0;
  border-radius: 10px;
  padding: 5px;
}

#asideContainer {
  background-color: #784BC3;
  margin: 0;
  margin-left: 40px;
  border-radius: 10px;
  padding: 5px;
}

.btnCustomAside{
  background-color: #fff;
  width: 100%;
}

#asideContainer > div > img {
  width: 128px;
  height: 128px;
}